:root {
  scroll-behavior: smooth;
}

@media (min-width: 751px) {
  #docsearch-container:lang(zh-CN) {
    min-width: 184.66px;
  }
}

// FIXME: Workaround solution
div[class*='language-'] pre code {
  color: var(--code-c-text);
}

.code-block-title-bar {
  --code-title-c-bg: #1e1e1e;
  --code-title-c-text: #d4d4d4;
}
